body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    background-color: #c7c7c7;
    padding: 0px;
    height: 100px;
    width: 100px;
    font-size: 2.5em;
    border-radius: 8px;
}

h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 2em;
    margin-bottom: 10px;
}

.calculator-wrapper {
    background-color: #434544;
    border: 3px solid black;
    border-radius: 15px;
}

.calculator-text {
    font-size: 1.5em;
    color: whitesmoke;
    font-family: "Silkscreen", sans-serif;
    margin: 0px;
    margin-right: 8px;
    align-self: center;
}

.display {
    display: flex;
    justify-content: right;
    font-size: 2em;
    height: 105px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #02a12c;
    margin: 30px 15px 40px 15px;
}

.calculator {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex: 1 0 auto;
    width: 450px;
    height: 710px;
    margin-top: 50px;
}

.buttons {
    display: flex;
    padding: 0;
}

.left {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-left: 15px;
    flex-direction: row;
}

.right {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    gap: 5px;
}

.plus {
    flex: 1 0 auto;
}

.equal {
    flex: 1 0 auto;
    margin-right: 5px;
}

footer {
    display: flex;
    align-items: end;
    margin-bottom: 7px;  
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    flex: 1 0 auto;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 11px;
}

.github-svg {
    width: 40px;
    height: 40px;
}

.github-icon {
    transition: transform 0.3s ease-in-out;
    flex: 1 0 auto;
}

.github-icon:hover {
    transform: rotate(360deg) scale(1.2);
}